@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-secondary: 'Albert Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji','Segoe UI Symbol', 'Noto Color Emoji';
    --font-sans: 'Bricolage Grotesque', ui-sans-serif, system-ui, sans-serif;

    /* Primary Colors */
    --color-orange: #FF7A00;
    --color-primary-hover: #FFFFFF;

    /* Accent */
    --color-accent: #FFFFFF;

    /* Backgrounds */
    --color-bg: #080D10;
    --color-card: #FFFFFF14;

    /* Text */
    --color-text: #FFFEFDB3;
    --color-text-muted: #FFFEFD99;
}
/* DARK SECTION */

.landing-navbar.dark-mode #navLogo,
.landing-navbar.dark-mode #navLinks a {
    color: white;
}

.login-btn.dark-mode {
    background-color: white;
    color: black;
}

.login-btn.dark-mode:hover {
    background-color: var(--color-orange);
    color: white;
}


/* LIGHT SECTION */

.landing-navbar.light-mode #navLogo,
.landing-navbar.light-mode #navLinks a {
    color: black;
}

.login-btn.light-mode {
    background-color: black;
    color: white;
}

.login-btn.light-mode:hover {
    background-color: var(--color-orange);
    color: white;
}